- content_for :title do
  Optional Links

%h1.heading1= content_for :title
#optionallinks.form
  = form_for current_account, url: preferences_links_path do |f|
    %div
      = f.collection_check_boxes :avail_link_ids, @available_links, :id, :linkname do |cb|
        .form_prompt.checkboxinput
          = cb.check_box
          = cb.label(class: :prompt_label)
          %span.prompt_description= cb.object.descr
      = f.submit "Save"
