%center
  %h1 Plans v2 FAQ
%ul
  %li
    %a{:href => "#history"} Plan history:
    %ul
      %li
        %a{:href => "#plans"} Where did plans come from?
      %li
        %a{:href => "#classproj"}
          Is the program a class project, or a commercial
          product or what?
  %li
    %a{:href => "#problems"} Problems with Plans
    %ul
      %li
        %a{:href => "#bug"}
          What should I do if I find a bug in the program, have
          a comment, question or criticism, or if the program simply isn't
          working?
      %li
        %a{:href => "#cookies"}
          I can log in, but then when I click on anything
          it tells me that I am a guest, what should I do?
      %li
        %a{:href => "#cvs"}
          Where can I get a copy of the source code for
          Plans?
  %li
    %a{:href => "#newplan"} Getting a new plan:
    %ul
      %li
        %a{:href => "#criteria"}
          What criteria do I have to meet to be given a
          plan?
      %li
        %a{:href => "#groups"} Can campus groups have plans?
      %li
        %a{:href => "#admin"} Can administrators/faculty have plans?
      %li
        %a{:href => "#request"}
          What do I do/Who do I contact if I want a new
          plan?
  %li
    %a{:href => "#features"} About plan features:
    %ul
      %li
        %a{:href => "#links"}
          How do I put in a link to another person's
          plan?
      %li
        %a{:href => "#boardlinks"}
          How do I put in a link to a message on the
          Notes board?
      %li
        %a{:href => "#outside"}
          How do I put in a link to a webpage outside of
          Plans?
      %li
        %a{:href => "#carlist"}
          Is there a way to see who has you on their
          autoread list?
      %li
        %a{:href => "#carlistfuture"}
          Will there ever be a way to see who has you
          on their autoread list?
      %li
        %a{:href => "#arlist"} What is this three tiered Autoread list thing?
      %li
        %a{:href => "#meter"}
          What is the percent thing at the bottom of the Edit
          Page?
      %li
        %a{:href => "#htmltags"}
          What basic HTML can I use in plans, and how do I
          use it?
      %li
        %a{:href => "#additional"}
          Are there additional things you can put in
          your plan?
      %li
        %a{:href => "#morehtml"}
          Are you going to ever add in more html tags for
          plan users to use?
      %li
        %a{:href => "#aboutregexp"}
          What is this Reg. Exp. thing on the search
          page?
      %li
        %a{:href => "#useregexp"} How do I use Reg. Exp.?
  %li
    %a{:href => "#privacy"} Privacy on Plans:
    %ul
      %li
        %a{:href => "#publicview"} How private are my postings on Plans
%hr/
%h1
  %a{:name => "history"} Plan history:
%h2
  %a{:name => "plans"} Where did plans come from?
In the days of old, Grinnell College had a Vax computer system. One of the
standard commands available on this system was called 'finger'. This
command gave various information about a user, including showing the
person's .plan file. Each user had their own .plan file, which was
originally meant for people at companies and elsewhere to post what their
work plans were. The .plan file at Grinnell College (and many other
places) gained a social aspect however. People started posting notes to
their friends, writing stories, or writing whatever else they felt like
writing. At Grinnell College, a small group of students called the
'VAXGods' wrote and maintained scripts to allow users to automatically
keep track of which of their friends had updated their .plan files.
%br/
%br/
During the summer of 2000, the Vax at Grinnell College was phased out of
operation. There was a time period in which no sort of plan system existed
at Grinnell College. During this time period however, older students felt
a strong dismay over the loss of the popular plans system. Thoughts
floated around about creating a new web-based version of plans, and so
Rachel Heck ('01) was the first to take the initiative in creating a
web-based plan system.
%br/
%br/
She wrote the original version (what we consider Plans v0) of the Grinnell
web-based plans system with just a few friends in mind. The system grew
very quickly in popularity. Since this original system was designed with
only a few users in mind, problems started to arise with the swelling
numbers of plan users. So in the spring of 2001, Rachel wrote a new
version of plans (Plans v1) that had certain improvements, such as being
backed by a database, with Andrew Kensler ('01) giving suggestions and
writing the search page. In the spring of 2001 Rachel turned control of
plans over to the current maintainers of plans. The current maintainers
then significantly altered Plans v1, adding on certain customization
abilities, and other abilities. By autumn 2001, it was apparent that the
plan user base was becomming too large for the program to handle well, and
so Plans v2 was introduced in the spring of 2002. During the
summer of 2003, events occured which led to Plans being hosted by
a commercial web host instead of being hosted by Grinnell College.
%br/
%br/
%h2
  %a{:name => "classproj"}
    Is the program a class project, or a commercial
    product or what?
Plans is not, nor ever was a class project (although we know of at least
one class project that tried to come up with a better version of plans
which failed). Running the plans system has very much been an educational
experience to say the least. Anyway, plans are not a commercial project,
but simply a student run um... something or other.
%br/
%br/
%hr/
%h1
  %a{:name => "problems"} Problems with Plans:
%h2
  %a{:name => "bug"}
    What should I do if I find a bug in the program, have a
    comment, question or criticism, or if the program simply isn't
    working?
Email grinnellplans@gmail.com
%br/
%br/
%h2
  %a{:name => "cookies"}
    I can log in, but then when I click on anything
    it tells me that I am a guest, what should I do?
The Plans system uses what are known as cookies, so that while you are
logged into Plans you get the style/interface/etc. of your choosing, as
well as giving you your autofinger list. However you can set your internet
browser to not accept cookies. Normally the cookie takes effect after you
receive the first page after you log in. If your browser is set to not
accept cookies, then you can log in and get the first page as normal, but
then if you click to receive any other page, Plans does not know who you
are and so considers you a guest (you will see that the style reverts back
to the default pastel color scheme).
%br/
%br/
So what you need to do is check the settings on your browser and check the
option to allow cookies. In some browsers if the security setting is set
to the most protective you may need to lower the security a notch. Just
remember to switch it back afterwards if you are wanting to keep that more
protective setting while surfing the general internet.
%br/
%br/
[More specific instructions for each of the main browsers will eventually
be put here.]
%br/
%br/
%h2
  %a{:name => "cvs"}
    Where can I get a copy of the source code for
    Plans?
%a{:href => "http://sourceforge.net/projects/grinnellplans"} Plans CVS
(Click on the 'Browse CVS' link near the bottom, and then select
'grinnellplans').
%br/
%br/
%hr/
%h1
  %a{:name => "newplan"} Getting a new plan:
%h2
  %a{:name => "criteria"}
    What criteria do I have to meet to be given a
    plan?
%ul
  %li
    Have previously or currently attended college in Grinnell, Iowa
  %li
    Are a faculty member or staff worker at a Grinnell, Iowa college
  %li
    Are recognized as a group by a student government of a college in Grinnell, Iowa
%b
  We do however, reserve the right to refuse a person or group an
  account,
  for any reason regardless of whether or not they meet these criteria.
  We also reserve the right to remove an account at any time, for any
  reason.
%h2
  %a{:name => "groups"} Can campus groups have plans?
Yes, however we have no interest in determining who or what should be a
group, and so we defer the determining of groups to SGA. To prove to us
that you are an SGA recognized group, when requesting a plan, you must
send the request e-mail from the group's email account (i.e. instead of
sending the request from your personal email account,
doejohn@grinnell.edu, you must send it from your group's email account,
mygroup@grinnell.edu).
%br/
%br/
= succeed "Yes." do
  %h2
    %a{:name => "admin"}
      Can administrators/faculty of colleges in Grinnell,
      Iowa have plans?
%br/
%br/
%h2
  %a{:name => "request"}
    What do I do/Who do I contact if I want a new
    plan?
Our first request is that you read this faq, and browse Plans using the
guest feature to get an idea of what Plans are about (currently disabled).
Then if you want a plan, simply send an email with a brief message
indicating that you'd like a plan to grinnellplans@gmail.com. If you
are requesting a group account, please be sure to send the request from
your groups email account.
%br/
%br/
%hr/
%h1
  %a{:name => "features"} About plan features:
%h2
  %a{:name => "links"}
    How do I put in a link to another person's
    plan?
Simply put the person's username inside of brackets on your plan. i.e. to
put a link to the plans plan, you would put [plans] somewhere on your
plan.
%br/
%br/
%h2
  %a{:name => "boardlinks"}
    How do I put in a link to a message on the Notes
    board?
When you view the messages within a thread, the number to the far left
just under the title
of the message is the id number of the message. To make a link that
message, simply enclose
the id number between square brackets. For example:
%br/
%br/
[1]
%br/
%br/
%h2
  %a{:name => "outside"}
    How do I put in a link to a webpage outside of
    Plans?
There are several ways of making such a link. The first way is as
such:
%br/
%br/
[http://www.grinnellplans.com|Grinnell Plans Homepage]  
%br/
%br/
which will give you this:
%a{:href => "http://www.grinnellplans.com"}
  Grinnell
  Plans
  Homepage
%br/
%br/
The second way is as such:
%br/
%br/
[http://www.grinnellplans.com]
%br/
%br/
Which will give you:
%a{:href => "http://www.grinnellplans.com"} http://www.grinnellplans.com
%br/
%br/
The final way is as such:
%br/
%br/
\<a href="http://www.grinnellplans.com">Grinnell
Plans</a>
%br/
= succeed "which" do
  %br/
will give you:
%a{:href => "http://www.grinnellplans.com"} Grinnell Plans
%br/
%br/
%h2
  %a{:name => "carlist"}
    Is there a way to see who has you on their autoread
    list?
No, however to let you know the cause of the rumor you heard: in the
distant past there had been ways, but these ways were never intended to be
available for plan users to use.
%br/
%br/
%h2
  %a{:name => "carlistfuture"}
    Will there ever be a way to see who has you on
    their autoread list?
No. We want to encourage people to read other people's plans without fear
of other people knowing which plans they read, and to encourage people to
write plans  without censuring themselves based upon the knowledge of who
reads their plan. Although in reality a public forum, plans tend to give
people a sense of false secrecy, in which a plan writer is aware of the
public nature of plans, but yet is allowed to, under the veil of false
secrecy, to communicate things publicly which they would like to
communicate, but which in regular public discourse, they may shy away
from. Thus plans at times can reflect a very interesting side of Grinnell
which otherwise might not be seen. As such, to allow the public to see who
is on their autoread lists would is essence destroy plans. Therefor, we
will never provide a way to see who is on your autoread list.
%br/
%br/
%h2
  %a{:name => "arlist"}
    What is this three tiered Autoread list
    thing?
The autoread list is a mechanism whereby a plan person can select which
plans of other users interest them, and know if those plans have been
updated since the person last read the users plan. For example, if you put
me on your autoread list, and read my plan, then if afterwards I update my
plan, you will see my username on your autoread list as having a new plan.

In a way, the three tiered autoread list is almost like having three
seperate autoread lists. It allows you to put the people in which you are
most interested in keeping up with their plans in level 1, and the
people that you are less interest in keeping up with in level 2, etc.
This means that if you have only a limited amount of time to read plans,
you can easily read the new plans of just those who you are most
interested in. Please note that this is just one potential hierarchy that
can be attached to the three tiered autoread list, and that you are free
to use whatever categorization you wish. Also, remember that you can
simply set everyone on your list to level 1 and hence not have to bother
with the three tiered system.
%br/
%br/
When there is a new plan that you haven't read, it will appear under the
title of the level that you have selected. For instance if you have me
on level 1, and I've updated my plan, when you click on level 1, the
title level 1 will no longer be a link, but will now be a colored text,
and under where it says level 1, you will see my username as a link
that you can click to read my plan.

To see what new plans there are for people on level 2, click on the
level 2, and if there are any new plans, links to the new plans will
appear under the colored text that says level 2.
%br/
%br/
%h2
  %a{:name => "meter"}
    What is the percent thing at the bottom of the Edit
    Page?
There is now a small meter displayed below your plan on the edit page.  If
you have a Javascript enabled browser it will show you
%i approximately
how close you are to the maximum plan size.  If you
exceed 100%, the bottom of your plan may be cut off. (Patch submitted by
Andrew Kensler).
%br/
%br/
%h2
  %a{:name => "htmltags"}
    What basic HTML can I use in plans, and how do I
    use it?
Opening tags go inside of angle brackets, like this:  <tag>
%br/
= succeed "For" do
  %br/
every opening tag, there must be a closing tag to match it, with
the exception of the <hr> tag which will get replaced with a
horizontal line.  You close a
tag by starting it with a slash: </tag>
%br/
= succeed "There" do
  %br/
are three formatting tags available:
%b bold
<b>,
%u underline
<u>, and
%i italics
<i>.
%br/
%br/
You can also use more than one tag at a time as I have done with the
header of this section.
%br/
= succeed "&#60;b&#62;&#60;i&#62;This" do
  %br/
text is bold and
italicized</i></b>
%br/
= succeed "becomes" do
  %br/
%b
  %i> This text is bold and italicized
  \.
%br/
%br/
= succeed "If" do
  %br/
there are any questions about using the HTML tags for formatting
your
plan, please feel free to contact us at
%i grinnellplans@gmail.com
and
we'll be happy to
answer them.
%br/
%br/
%h2
  %a{:name => "additional"}
    Are there additional things that you can put in
    your plan?
Yes, currently you can put [date] on your plan and then when you press the
submit button it will get converted to the date and time at which you
pressed the submit button. When you edit your plan again, the date and
time will
%b not
be converted back to [date].
%br/
%br/
%h2
  %a{:name => "morehtml"}
    Are you going to ever add in more html tags for
    plan users to use?
At this time there are no plans to do so. Although  we change the
interface of plans, the central focus of plans remains the same in that it
is about the text message that users wish to send out. The few html tags
currently allowed seem adequate for allowing plan users to communicate in
text. Furthermore, to be quite honest, disallowing html tags is quite
easy, it is harder (and adds on significantly to processing power needed)
to then allow html tags back in. So we want to keep the processing
required to a reasonable amount (while at the same time not allowing
people to put in whatever html they want), and so we are content with what
is currently allowed.
%h2
  %a{:name => "aboutregexp"}
    What is this Reg. Exp. thing on the search
    page?
Reg. Exp. is short for regular expressions. It's a way of describing a
pattern in text. This gives you a much more flexible search.
%h2
  %a{:name => "useregexp"} How do I use Reg. Exp.?
What follows
is Andrew Kensler's explanation of how to use Reg. Exp.:
%br/
%br/
A . matches any character.  For example, b.t will match "bit", "bat",
"bot", "but", "bet", etc.
%br/
= succeed "Putting" do
  %br/
a series of characters in square brackets means that it will
match any one of those letters.  Thus you can write b[iaoe]t which will
match "bit", "bat", "bot", "bet", etc., but not "but".  You can also write
a range using a hyphen, e.g. [0-9] will match any digit.  If you put a ^
right after the opening bracket, that means any character except
those.  So [^0-9a-z] means any character that's not a number or a letter.
%br/
= succeed "A" do
  %br/
? after something means that whatever is just before it is optional
and may or may not be there.  Thus bo?at will match will match either
"boat" or "bat".  If you want to make more than one character optional,
you can put it in parenthesis.  Thus mount(ain)? matches either "mount" or
"mountain.
%br/
= succeed "A" do
  %br/
* works similiarly except that it means that it matches something
zero or more times.  So ba*h will match "bh", "bah", "baah", "baaah",
etc.  Again, you can use parenthesis so b(an)*a will match "ba", "bana",
"banana", "bananana", etc.
%br/
= succeed "If" do
  %br/
you want something like that but where it must appear at least
once, use a + sign.  Thus bana(na)+ will match "banana", "bananana",
"banananana", etc. like above but not "banan" or "bana" or anything
shorter.
%br/
= succeed "You" do
  %br/
can also give multiple possibilities and seperate them with a |
Thus if you had a thing for fruit, you could search for
banana|apple|pear|peach to find any of them.
%br/
= succeed "You" do
  %br/
can combine all of these however you like.  You're welcome to
search for (captain [0-9]+)|(b(an)*a) or something like that.
%br/
= succeed "One" do
  %br/
last little gotcha, though: if you want to search for any of these
characters litterally, put a backslash, \, before the character.  So if
you really want to search for a question mark, use \? as the regular
expression.
%br/
= succeed "If" do
  %br/
this doesn't make sense, then just leave the Reg. Exp. box
unchecked and it will search for whatever you typed literally.
%br/
%br/
%h1
  %a{:name => "privacy"} Privacy on Plans:
%h2
  %a{:name => "publicview"} How private are my postings on Plans
Plans is intended to be a private forum and anything said within Plans should, by default, be considered to be in confidence.  We strongly discourage distributing any material outside of Plans without first gettting permission from the author.
%br/
= succeed "The" do
  %br/
outside world can only view your plan if you set it to be guest-readable in the preferences.  However, Plans is only as secret as the least-trusted user and the administrators have no way to detect or intervene when someone does leak personal information.