%h1 Listing secrets
= will_paginate @secrets

-@secrets.each do |secret|
  = secret.secret_id 
  %b
    = secret.date
  %br
  = secret.secret_text
  %br
%br
= link_to 'New Secret', new_secret_path
%br