%h1 Listing secrets
= paginate @secrets

%p#sub
  -@secrets.each do |secret|
    = secret.secret_id
    %b
      =l secret.date
    =form_for secret , {:url=>"nothing"} do |f|
      Dislpay?:
      show:
      =f.radio_button(:display_attr,  "yes", {:onchange => "$.ajax({url:'#{admin_secret_path(secret)}?display_attr='+this.value, type:'PUT'})"})
      hide:
      =f.radio_button(:display_attr,  "no",   {:onchange => "$.ajax({url:'#{admin_secret_path(secret)}?display_attr='+this.value, type:'PUT'})"})
    = secret.secret_text
    %br
    %br

