= form_tag({}, method: "get") do
  = label_tag "hours", "Plans created in the past:"
  = number_field_tag "hours", @hours, min: 1, max: 100
  = label_tag "hours", "hours"
%ul
  - @plans.each do |p|
    %li
      = link_to p.username, p.username
      = p.changed_date.strftime "%k:%M %p, %a %B %e"
