.plan
  #header
    %ul
      %li.username
        %span.title
          Username
        %span.value
          =@account.username
      %li.lastupdated
        %span.title
          Last Updated:
          / TODO 2 date formats
        %span.value
          %span.long
            =l @account.changed_date unless  @account.changed_date.nil?
          %span.short
            =l @account.changed_date unless  @account.changed_date.nil?
      %li.lastlogin
        %span.title
          Last login:
        %span.value
          %span.short
            =@account.login
          %span.long
            =@account.login
      %li.planname
        %span.title
          Name:
        %span.value
          =@account.pseudo

.plan_text
  = @plantext

.autofinger-control
  = form_tag set_autofinger_subscription_plan_path, method: :put do
    = radio_button_tag :priority, 0
    = label_tag 'priority_0', 'X'
    = radio_button_tag :priority, 1
    = label_tag 'priority_1', 1
    = radio_button_tag :priority, 2
    = label_tag 'priority_2', 2
    = radio_button_tag :priority, 3
    = label_tag 'priority_3', 3
    = submit_tag 'Save'

- if !@viewing_self
  - if @block
    .block-control
      = form_tag @block, method: :delete do
        = hidden_field_tag 'target', @account.userid
        = submit_tag 'Unblock this user'
  - else
    .block-control
      = form_tag blocks_path, method: :post do
        = hidden_field_tag 'target', @account.userid
        = submit_tag 'Block this user'
